@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;1,200&display=swap');
$bgColor: #411530;
$row2BgColor: #D1512D;
$row3BgColor: #F5C7A9;
$linkColor: #F5E8E4;
* { margin: 0; padding: 0; font-family: "Nunito"; box-sizing: border-box; }
a {
    text-decoration: none !important;
    color: darken($linkColor, 10%) !important;
    &:hover { color: lighten($linkColor, 10%) !important; }
}
html, body {
    height: 100%;
    width:  100vw;
    overflow-x: hidden;
} 
body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, $bgColor 0%, $row2BgColor 100%) !important;
    background: -moz-linear-gradient(90deg, $bgColor 0%, $row2BgColor 100%) !important;
    background: -webkit-linear-gradient(90deg, $bgColor 0%, $row2BgColor 100%) !important;
    color: $row3BgColor !important;
}
.container {
    flex: 1 0 auto;
}